
    <% @users.each do |user| %>
       <li>
         <%= user.name %>
       </li>
    <% end %>

<section class="explorer">
	<h3>Explorer</h3>
</section>

<section class="query">
	<h3>Search</h3>
</section>


<section class="mail">
	<h3>Mailbox</h3>
</section>
		

<h1>Hello, Rails!</h1>