
<div class="profile-page">	
<h1>Profile!</h1>

<section class="video">
	
	<%= direct_upload_form_for @uploader do |f| %>
	  <%= f.file_field :video %>
	  <%= f.submit %>
	<% end %>
		 
<section>	

<section class="details">
	details
<section>
	
	
<section class="verbs">
	verbs
<section>
	
</div>			